{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}
<style>

</style>


   {% if items | length > 0  %}
      <div class="container">
       <h3 class="text-center mt-3"> Votre panier</h3>
      <table class="table" border="0" style=" box-shadow: 0 3px 9px 3px rgb(0 0 0 / 1%);">
          <tr style="background-color:var(--salmon-pink); color:#fff;">
             <th>Nom </th>
             <th>Photo </th>
              <th>Prix </th>
               <th>Quantité </th>
                <th>Total </th>
                <th></th>
           </tr>
             {% for item in items %}
              <tr> 
              <td> {{ item.produit.nom }} </td>
              <td><img src=" /images/produit/{{ item.produit.imagename}} " style="width:8%; height:8%; border-radius:50%;"></td>
              <td> {{ item.produit.prix }} </td>
              <td>  {{  item.quantite }} </td>
               <td>  {{ item.produit.prix * item.quantite }} </td>
               <td>  <a href=" {{ path('cart-remove' , { 'id': item.produit.id } ) }} " class=" btno btn-sm" style="display:inline-block;">delete</a></td>
              </tr>
             {% endfor %}
                    <tr>  
                      <td colspan="3" class="text-right"> Total: </td>
                       <td> {{ total }} </td>
                        <td> <td>
                    
                    </tr>
               
       </table>
        <div class="text-center pb-3">
        <a href=" {{ path('checkout') }} " class="add-cart-btn mt-4 ">Proceder aux paiement  </a>
        </div>
       </div>

{%  else %}
    <div class="container m-auto" style="padding-top: 104px;">
      <div class="col-md-8 m-auto">
  <p ><h5 class="text-center mt-auto" style="color:#fe4066; ">panier est vide</h5> </p>
    </div>
    </div>
  {% endif %}
 
{% endblock %}
