{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<style>
body{
  background-color:var(--body-color)!important;
}
.card .inner img{
    width:100%;
}
#facilities{
    padding: 30px 0px;


}
#facilities h1{
    font-weight:900;
    font-size:34px;
    padding-bottom:5px;
}
.title{
    text-align:center;
    padding: 25px 0px;
}
.card-body button{
  border-radius: 50px;
  margin-right: 15px;
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 14px 28px 13px 28px;
  background-color:#a0b4cf;
  border: none;
  margin-top: 10px;
  
}
.card-body button:hover{
  background-color:#A0B4CFC5;
}
.card-body button a{
    text-decoration:none;
    color:rgba(255, 255, 255, 0.788);
}
.card{
  margin:5px;
  box-shadow: 0 2px 6px rgba(58, 57, 68, 0.2);
    
}
.inner{
    overflow:hidden;
  }
  .inner img{
    transition: all 0.8s ease;
  }
  .inner:hover img{
    transform:scale(1.3);
  }
  .but button {
    margin-right: 15px;
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 14px 28px 13px 28px;
    background-color: #fff;
    border: solid 1px #fff;
    color: rgba(17, 17, 17, 0.705);
}

.but button a {
    color: rgba(17, 17, 17, 0.705);
}

.but button:hover {
    background-color: transparent;
    border: solid 1px #fff;
    color: #fff;
    transition: 0.5s;
}
.but{
  justify-content:center;
  text-align:center;
  display:flex;
}

.but button a:hover {
    color: #fff;
}

</style>
   <div class="hdd" style="background-image:linear-gradient(rgba(57, 49, 49, 0.518),rgba(57, 49, 49, 0.518)), url(images/banner-3.jpg); height: 75vh; width: 100%; background-position: center center; background-size: cover; background-repeat: no-repeat;background-attachment: fixed;">
        <div class="container">
            <div class="col-sm">
             <br>
            <br>
                <h4 class="text-center  p-3" style="color: rgba(255, 255, 255, 0.89); text-transform: uppercase;font-family: 'Poppins', sans-serif;">Bienvenue sur le meilleur site de e-commerce !</h4>

            </div>
            <div class="text-center">
                <p style="color:rgba(255,255,255,0.71);font-family: 'Poppins', sans-serif;">Découvrez des maintenant les meilleurs produits de vos réves à un bas prix  </p><br>
                
                <div class="but"><button> <a href="" class="text-center">Super promo ! </a></button></div>
            </div>


        </div>
   </div>
<div class="container">
 
     <div class="row">
        <div class="col-md-10 m-auto">
          <div class="row">
                  <div class="product-main">

            <h2 class="title">Nos meilleur produits  promo</h2>

            <div class="product-grid">

             {% for produit in produits %}
              <div class="showcase pb-2">
              
                <div class="showcase-banner">
                  <img src="/images/produit/{{ produit.imagename }} " alt="Black Floral Wrap Midi Skirt" class="product-img default"
                    width="300" style="width:100%!important; height:40vh!important;">
                    {% if produit.promo %}
                         <p class="showcase-badge angle pink text-center">En promotion !</p>
                    {% endif %}
                  
                </div>
              
                <div class="showcase-content">
                  <a href="#" class="showcase-category">{{ produit.nom }}</a>
              
                  <h3>
                    <a href="#" class="showcase-title">{{ produit.description |u.truncate(30 ,'...')  }}</a>
                  </h3>
                <h5 class=" text showcase-title text-warning" style="color:;"> {{ produit.category.nom }}</h5>
                  
                  <div class="price-box">
                    <p class="price"> {{ produit.prix }}&nbsp;FCFA</p>
                    
                  </div>
                  <div class="">
                  <a href=" {{ path('card_add' , {'id': produit.id }) }} " class="add-cart-btn "><i class="fas fa-shopping-cart"></i>&nbsp;&nbsp;Add to cart</a>
                  </div>
              
                </div>
              
              </div>
                  {% endfor %}

      

            </div>

          </div>
              </div>
     </div>
   
</div>

</div>


{% endblock %}
